
body{
    background:lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    margin: 0px auto;
    border: 1px solid black;
}

header{
    background: #3b4042;
    color: white;
    margin: 0px;
    text-align: center;
    line-height: 80px;
    border-bottom: 3px dashed black;
}

nav{
    background: #416fad;
    border-bottom: 1px solid black;
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

#content{
    float: left;
    background: #eee;
    min-height: 500px;
    padding: 20px;
}

#contentwa{
    float: left;
    background: #eee;
    min-height: 500px;
    padding: 20px;
}

aside{
    float: left;
    background: orange;

    padding: 10px;
}

aside h2{
  text-align: center;
}

footer{
    background: #3b4042;
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.clearfix{
    clear: both;
}
.article{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.article: :first-child{
    border-top: 1px solid #eee;
}

.article h2{
    font-size: 25px;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #080255;
  }
  
  a:visited {
    color: #080255;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #bae498;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #cdfeaa;
  }
  
  a:active {
    background: #12b9e2;
    color: #cdfeaa;
  }

  ul,
ol,
dl,
p {
  font-size: 1.5rem;
}

li,
p {
  line-height: 1.5;
}

/* Estilos para las listas de descripciones */

dd,
dt {
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1.5rem;
}

.card-title {
  margin-bottom: 0.75rem;
  color:#444444;
  font-size: 1.5rem;
}

.card-text {
  color:#555555;
  font-size: 1rem;
}